body {
    font-family: "Roboto", sans-serif;

    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 225%;
    font-weight: 500;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 175%;
    font-weight: 500;

    margin: 0;
    padding: 0;
}

h3 {
    font-weight: 500;

    margin: 0;
    margin-bottom: 1vmin;
    padding: 0;
}

p {
    font-size: 120%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 1em;
}

p:last-child {
    margin-bottom: 0;
}

label {
    display: block;
}

.top-margin {
    margin-top: 2vmin;
}

/*####PAGE COMPONENTS####*/

header {
    display: flex;
    flex-direction: row;

    margin: 0;
    margin-bottom: 2vh;
    padding: 1.5vh;

    text-align: center;

    color: white;
    background-color: #3F51B5;

    align-items: center;
    justify-content: center;
}

.header-title {
    display: flex;

    width: 100%;
}

.main-header {
    flex-direction: column;

    padding-bottom: 0;

    align-items: center;
}

.main-header h1 {
    font-size: 300%;
    margin-bottom: 1em;
}

header a:link {
    color: white;
}

nav {
    display: flex;

    min-width: 40%;

    justify-content: center;

    margin-top: 1em;
}

nav ul {
    display: flex;

    width: 100%;
    margin-bottom: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
}

nav li {
    font-size: 150%;

    position: relative;

    display: inline-block;

    padding: .5rem;

    list-style-type: none;

    transition: .25s;

    flex: 1;
}

nav li:hover {
    color: white;
    background-color: #5C6BC0;
}

nav li a {
    display: block;

    text-decoration: none;
}

nav li a:visited {
    color: white;
}

footer {
    padding-bottom: .5vmin;

    text-align: center;

    color: #BDBDBD;
}

.current-page {
    color: white;
    box-shadow: 0 -.2rem 0 white inset;
}

.current-page:hover {
    background-color: initial;
}

.page-content, .page-content-center {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0;
    padding: 0;

    align-items: center;
}

/*####CENTER WINDOW LAYOUT####*/

.page-content-center, .nav-page-content-center {
    height: 100%;

    justify-content: center;
}

.nav-page-content-center {
    height: calc(100vh - 9vmin);
}

.center-window {
    display: flex;
    flex-direction: column;

    width: 60vw;
    margin-bottom: 2vmin;
    padding: 2vmin;
    padding-top: 0;

    text-align: center;

    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .50);

    align-items: center;
}

.center-window img {
    height: 20rem;
    margin-bottom: 1vmin;
}

.center-window header {
    width: 100%;
    margin-right: -2vmin;
    margin-left: -2vmin;
    padding-right: 2vmin;
    padding-left: 2vmin;
}

.center-window header h2 {
    font-size: 170%;
}

.center-window h3, .center-window p {
    width: 100%;
}

.header-email {
    margin-top: 0.5em;
    font-size: 150%;
}

.header-email i {
    margin-right: 0.5em;
}

.links {
    font-size: 300%;
}

.links i {
    margin: 0.5em;
}

.links i:hover {
    color: #3F51B5;
    transition: .3s;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}


.project-entry {
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .50);
    width: 24em;
    padding-top: 1em;
}

.project-entry:hover {
    background-color: #EEEEEE;
    transition: .3s;
}

.project-content {
    background-color: #3F51B5;
    color: white;
    padding: 1em;
}

.project-content h2 {
    margin-bottom: 0.3em;
}

.project-img img {
    max-width: 22em;
    height: auto;

    min-height: 15em;
    max-height: 15em;
}

.project-tags {
    background-color: #5C6BC0;
}

.project-tags ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0.5em;
}

.project-tags li {
    background-color: #7986CB;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em;
    color: white;
    border-top-left-radius: 1.5em 100%;
    border-bottom-left-radius: 1.5em 100%;
    border-top-right-radius: 1.5em 100%;
    border-bottom-right-radius: 1.5em 100%;

    font-size: 90%;
}
/*####HYPERLINK STYLING####*/

a:hover {
    text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: 150%;
    }

    h1 {
        font-size: 275%;
    }

    h2 {
        font-size: 175%;
    }

    h3 {
        font-size: 150%;
    }

    .main-header h1 {
        font-size: 175%;
        margin-bottom: 0.5em;
    }

    .main-header h2 {
        font-size: 100%;
        font-weight: 300;
    }

    .center-window {
        width: 90vw;
    }

    nav {
        width: 100%;
    }

    nav li {
        font-size: 115%;
    }
}
