:root {
    --text: #fff;
    --page-back: #212121;
    --link-visited: #9E9E9E;
    --center-window-back: #424242;
    --skill-hover: #616161;
    --skill-list-mob-sep: #616161;
    --level: #616161;
    --level-filled: #5C6BC0;
    --level-hover: #757575;
    --project-back: #616161;
    --project-back-hover: #757575;
    --gallery-back: #616161;
    --footer-links: #9E9E9E;
}
