{{ define "nav" }}
  <li><a href="/#projects">Back to Projects</a></li>
{{ end }}

{{ define "main" }}
<div class="center-window">
  <header>
    <h2>{{ .Title }}</h2>
  </header>
  <div class="project-popup-content">
    {{ .Content }}

    {{ if .Params.video }}
      <div class="image-container">
        <video loop controls src="{{ (.Resources.GetMatch .Params.video.file).Permalink }}" type="{{ .Params.video.mimeType }}" title="{{ .Params.video.alt }}"></video>
      </div>
    {{ end }}

    {{ if len .Params.images }}
      <noscript class="image-container">
        {{ range .Params.images }}
          {{ if .file }}
            <img src="{{ ($.Resources.GetMatch .file).Permalink }}" alt="{{ .alt }}">
          {{ end }}
        {{ end }}
      </noscript>
    {{ end }}
  </div>
</div>
{{ end }}