{{ define "header" }}
<header class="main-header">
  <h1>James Tattersall</h1>
  <nav>
    <ul>
      <li><a href="../../#projects">Back to Projects</a></li>
    </ul>
  </nav>
</header>
{{ end }}

{{ define "main" }}
<div class="center-window">
  <header>
    <h2>{{ .Title }}</h2>
  </header>
  <div class="project-popup-content">
    {{ .Content }}

    {{ if .Params.video }}
      <div class="image-container">
        <video loop controls src="{{ (.Resources.GetMatch .Params.video).Permalink }}" type="video/webm" title="CS257 Program Visualisation"></video>
      </div>
    {{ end }}

    {{ if len .Params.images }}
      <noscript class="image-container">
        {{ range .Params.images }}
          {{ if .file }}
            <img src="{{ ($.Resources.GetMatch .file).Permalink }}" alt="{{ .alt }}">
          {{ end }}
        {{ end }}
      </noscript>
    {{ end }}
  </div>
</div>
</div>
{{ end }}