<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#303F9F">
  <meta name="description" content="Personal website for James Tattersall, showcasing my personal projects." />

  <title>{{ with .Params.Title }}{{ . }} | {{end}}{{ .Site.Title }}</title>

  {{ $theme := resources.Get "js/theme.js" | resources.Minify | resources.Fingerprint }}
  <link rel="preload" as="script" href="{{ $theme.Permalink }}" integrity="{{ $theme.Data.Integrity }}"/>

  {{ $mainCss := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link href="{{ $mainCss.Permalink }}" type="text/css" rel="stylesheet" integrity="{{ $mainCss.Data.Integrity }}" />
  <link rel="icon" href="/img/logo.png" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
  <header>
    <div class="spacer"></div>
    <div class="top">
      <h1>James Tattersall</h1>
      <h2>Aspiring Software Engineer</h2>
      <hr>
      <nav>
        <ul>
          {{ block "nav" .}}{{ end }}
        </ul>
      </nav>
      <hr>
      <div class="links">
        <a href="mailto:contact@jtattersall.net"><i class="fa fa-envelope"></i>Email Me</a>
        <a href="https://github.com/jamerst" target="_blank" rel="noreferrer noopener"><i class="fab fa-github"></i>My GitHub</a>
      </div>
    </div>
    <div class="bottom">
      <a id="theme-switch" role="button"></a>
    </div>
  </header>
  <div class="main-spacer"></div>
  <main>
    {{ block "main" . }}{{ end }}
    <footer>
      <p><i class="far fa-copyright"></i> James Tattersall {{ now.Format "2006" }}</p>
      <p>Version {{ .Site.Params.version }} ({{ now.Format "2006-01-02" }})</p>
    </footer>
  </main>
</body>

<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{{ $reset := resources.Get "css/reset.css" | resources.Minify | resources.Fingerprint }}
<link href="{{ $reset.Permalink }}" type="text/css" rel="stylesheet" integrity="{{ $reset.Data.Integrity }}" />
<link href="{{ $mainCss.Permalink }}" type="text/css" rel="stylesheet" />

{{ $gallery := resources.Get "js/gallery.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $gallery.Permalink }}" integrity="{{ $gallery.Data.Integrity }}"></script>
{{ $mainJs := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}"></script>
<script src="{{ $theme.Permalink }}" integrity="{{ $theme.Data.Integrity }}"></script>
</html>