<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#303F9F">
  <meta name="description" content="Personal website for James Tattersall, showcasing my personal projects." />

  <title>{{ with .Params.Title }}{{ . }} | {{end}}{{ .Site.Title }}</title>

  {{ $theme := resources.Get "js/theme.js" | resources.Minify | resources.Fingerprint }}
  <link rel="preload" as="script" href="{{ $theme.Permalink }}" integrity="{{ $theme.Data.Integrity }}"/>

  {{ $mainCss := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
  <link href="{{ $mainCss.Permalink }}" type="text/css" rel="stylesheet" integrity="{{ $mainCss.Data.Integrity }}" />
  <link rel="icon" href="/img/logo.png" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
</head>

<body>
  <header class="main-header">
    <h1>James Tattersall</h1>
    <h2>Aspiring Web &amp; Native App Developer</h2>
    <div class="header-email">
      <a href="mailto:{{ .Site.Params.contactEmail }}"><i class="fa fa-envelope"></i>{{ .Site.Params.contactEmail }}</a>
    </div>
    <nav>
      <ul>
        {{ block "nav" . }}{{ end }}
      </ul>
    </nav>
  </header>

  <div class="page-content">
    {{ block "main" . }}{{ end }}
    <footer>
      <div class="footer-left">
        <i class="far fa-copyright"></i> James Tattersall {{ now.Format "2006" }}
        <div class="footer-source">
          Site Version: {{ .Site.Params.version }} ({{ now.Format "2006-01-02" }})<br>
          <a href="https://github.com/jamerst/jtattersall.net">Source Code</a>
        </div>
        <div>
          <p id="theme-switch"></p>
        </div>
      </div>

      <div class="footer-right">
        <a href="mailto:{{ .Site.Params.contactEmail }}"><i class="fa fa-envelope"></i>Email Me</a>
        <a href="https://github.com/jamerst"><i class="fab fa-github"></i>My GitHub</a>
        <a href="https://www.linkedin.com/in/james-tattersall/"><i class="fab fa-linkedin"></i>My LinkedIn</a>
      </div>
    </footer>
  </div>
</body>

<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
  integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

{{ $reset := resources.Get "css/reset.css" | resources.Minify | resources.Fingerprint }}
<link href="{{ $reset.Permalink }}" type="text/css" rel="stylesheet" integrity="{{ $reset.Data.Integrity }}" />
<link href="{{ $mainCss.Permalink }}" type="text/css" rel="stylesheet" />

{{ $gallery := resources.Get "js/gallery.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $gallery.Permalink }}" integrity="{{ $gallery.Data.Integrity }}"></script>
{{ $mainJs := resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}"></script>
<script src="{{ $theme.Permalink }}" integrity="{{ $theme.Data.Integrity }}"></script>
</html>