{{ define "header" }}
<header class="main-header">
  <h1>James Tattersall</h1>
  <h2>Aspiring Web &amp; Native App Developer</h2>
  <div class="header-email">
    <a href="mailto:contact@jtattersall.net"><i class="fa fa-envelope"></i>contact@jtattersall.net</a>
  </div>
  <nav>
    <ul>
      <li class="current-page"><a href="#about">About Me</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#links">Links</a></li>
    </ul>
  </nav>
</header>
{{ end }}

{{ define "main" }}
<div class="center-window top" id="about">
  <header>
    <h2>About Me</h2>
  </header>
  <p>
    I am a University of Warwick Computer Science graduate, with a keen interest in developing a variety of
    different applications, particularly web applications. I enjoy using technology in general, and I pursue
    this in my spare time through personal projects and hobbies, including technical theatre with amateur drama
    groups and the university <a href="http://warwicktechcrew.co.uk/">technical theatre</a> society. I perform a
    wide variety of behind-the-scenes roles, including rigging, electrical, and stage/technical management for the
    many shows produced each year.
  </p>

  <p>
    I have experience in a variety of languages and technologies. I enjoy learning new technologies and I am usually
    able to become proficient in almost any language or framework quickly. I particularly enjoy working with modern
    web frameworks such as ASP.NET Core and React.js in Linux environments using containers.
  </p>
  <div class="skills">
    <h3>Skills &amp; Experience</h3>
    <div class="lists">
      <ul>
        <li>
          HTML &amp; CSS
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i class="filled"></i></div>
        </li>
        <li>
          C#
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          Java
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          JavaScript &amp; TypeScript
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          PHP
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          SQL
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          C++
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i><i></i></div>
        </li>
        <li>
          Python
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i><i></i></div>
        </li>
      </ul>

      <ul>
        <li>
          ASP.NET Core
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          CakePHP
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          React.js
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          SignalR
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i><i></i></div>
        </li>
        <li>
          Android SDK
          <div class="level"><i class="filled"></i><i class="filled"></i><i></i><i></i><i></i></div>
        </li>
      </ul>

      <ul>
        <li>
          Git
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          Linux
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i
              class="filled"></i><i></i></div>
        </li>
        <li>
          Agile Development
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i><i></i></div>
        </li>
        <li>
          Docker
          <div class="level"><i class="filled"></i><i class="filled"></i><i class="filled"></i><i></i><i></i></div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="center-window" id="projects">
  <header>
    <h2>Projects</h2>
  </header>
  <div class="projects-container">
    {{ range where .Site.RegularPages "Section" "projects" }}
      {{ partial "project-summary.html" . }}
    {{ end }}
  </div>
  <p>
    View more of my projects in the <a href="/project_archive">archive</a>.
  </p>
</div>

<div class="center-window" id="links">
  <header>
    <h2>Links</h2>
  </header>
  <div class="links">
    <a href="mailto:contact@jtattersall.net"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/jamerst"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/james-tattersall/"><i class="fab fa-linkedin"></i></a>
  </div>

  <p><a href="https://fontawesome.com/">Site Icons</a><br>
    <a href="https://meyerweb.com/eric/tools/css/reset/">Eric Meyer's Reset CSS</a></p>
</div>
{{ end }}