:root {
    --text: #212121;
    --text-secondary: #616161;
    --page-back: #FFFFFF;
    --link: #1A237E;
    --link-hover: #5C6BC0;
    --link-visited: #303F9F;
    --skill-hover: #EEEEEE;
    --skill-list-mob-sep: #BDBDBD;
    --level: #BDBDBD;
    --level-filled: #303F9F;
    --level-hover: var(--level);
    --project-back: var(--center-window-back);
    --project-back-hover: #EEEEEE;
    --gallery-back: #E0E0E0;
    --footer-links: #616161;
}

/* ====== Basic element styles ====== */
body {
    font-family: "Lato", sans-serif;

    display: flex;

    margin: 0;
    padding: 0;

    color: var(--text);
    background-color: var(--page-back);
}

h1 {
    font-size: 225%;
    font-weight: 700;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 200%;
    font-weight: 700;

    margin: 0;
    padding: 0;
}

h3 {
    font-size: 140%;
    font-weight: 700;

    margin: 0;
    padding: 0;
}

h4 {
    font-weight: 700;

    margin: 0 0 1em 0;
    padding: 0;
}

p {
    font-size: 130%;
    line-height: 1.5;

    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 0;
}

em {
    font-style: italic;
}

p:last-child {
    margin-bottom: 0;
}

a, a:link {
    transition: color .1s ease;
    text-decoration: none;

    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}

noscript {
    display: block;

    margin-top: .5em;
}

noscript a:link {
    color: #FFFFFF;
}

noscript a:visited {
    color: #FFFFFF;
}

code {
    font-family: "Roboto Mono", monospace;
}

ol {
    list-style: decimal;
}

hr {
    border: none;
}

/* ====== Side nav ====== */
header {
    position: fixed;

    display: flex;
    overflow-y: auto;
    flex-direction: column;

    box-sizing: border-box;
    width: 45em;
    max-width: 40vw;
    height: 100vh;
    padding: 0 2em;

    text-align: right;

    color: #FFFFFF !important;
    background-color: #303F9F;
    box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, .75);

    align-items: flex-end;
    justify-content: flex-start;
}

header .spacer {
    margin-bottom: 2em;

    flex-basis: 10vh;
    flex-shrink: 1;
}

header .top {
    flex-grow: 1;
}

header .bottom {
    display: flex;

    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;

    justify-content: flex-end;
    align-items: flex-end;
}

header h1 {
    font-size: 500%;
    font-weight: 300;

    margin-bottom: .5em;
}

header h2 {
    font-weight: 300;
}

header a, header a:link {
    transition: .3s;

    color: #FFFFFF;
}

header a:visited {
    color: #FFFFFF;
}

header a:hover {
    color: #9FA8DA;
}

header hr {
    width: 15em;
    height: 2px;
    margin-top: 3em;
    margin-right: 0;
    margin-bottom: 2em;

    background: #FFFFFF;
}

nav {
    font-weight: 300;

    display: flex;

    min-width: 40%;

    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 0;
    padding: 0;

    align-items: flex-end;
    justify-content: center;
}

nav ul li {
    font-size: 250%;

    position: relative;

    display: inline-block;

    list-style-type: none;

    transition: .25s;

    flex: 1;
}

nav ul li a {
    padding: .3em;
}

nav li:hover {
    color: #FFFFFF;
    background-color: #5C6BC0;
}

nav li a {
    display: block;

    text-decoration: none;
}

nav li a:hover {
    color: #FFFFFF;
}

nav li a:visited {
    color: #FFFFFF;
}

nav ul ul {
    font-size: 70%;
}

.current {
    font-weight: 400;
}

.current:hover {
    background-color: initial;
}

.links a {
    font-size: 0;

    display: inline-block;

    margin: 0 .5rem;
}

.links a:first-child {
    margin-left: 0;
}

.links a:last-child {
    margin-right: 0;
}

.links a i {
    font-size: 3rem;

    transition: .3s;
}

#theme-switch {
    font-size: 200%;

    width: max-content;

    cursor: pointer;
    text-decoration: underline;
}

/* ====== Containers ====== */

.main-spacer {
    width: 45em;
    max-width: 40vw;

    flex-shrink: 0;
}

main {
    box-sizing: border-box;
    max-width: 60vw;
    margin-top: calc(10vh + 2.5em);
    padding: 2em;
    padding-top: 0;
    padding-left: 3em;
}

main h2 {
    margin-bottom: .25em;
}

main p {
    max-width: 50em;
}

main > section {
    margin-top: 3em;
}

main > section:first-child {
    margin-top: 0;
}

main hr {
    width: 15em;
    height: 2px;
    margin: 0;
    margin-top: 3em;

    background: var(--link);
}

main > footer {
    margin-top: 3em;
    margin-bottom: 2em;

    color: var(--text-secondary);
}

main > footer p {
    font-size: 100%;

    margin: 0;
}

/* ====== Skills section ====== */

.skills h3 {
    max-width: unset;
}

.skills .lists {
    display: flex;

    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2em;
}

.lists section {
    width: 23em;

    text-align: left;
}

.lists section h3 {
    margin-bottom: .25em;
}

.skills ul li {
    font-size: 120%;

    position: relative;

    transition: .25s ease;

    --n: 20;
}

.skills ul li:hover {
    background: var(--skill-hover);
}

.skill details {
    overflow: hidden;
}

.skill details > summary {
    display: flex;

    padding: .25em;

    list-style: none;

    cursor: pointer;

    justify-content: space-between;
    align-items: center;
}

.skill details > summary::webkit-details-marker {
    display: none;
}

.skill details > summary:focus {
    outline: none;
}

.skills ul li:nth-child(1) {
    --n: 0;
}
.skills ul li:nth-child(2) {
    --n: 1;
}
.skills ul li:nth-child(3) {
    --n: 2;
}
.skills ul li:nth-child(4) {
    --n: 3;
}
.skills ul li:nth-child(5) {
    --n: 4;
}
.skills ul li:nth-child(6) {
    --n: 5;
}
.skills ul li:nth-child(7) {
    --n: 6;
}
.skills ul li:nth-child(8) {
    --n: 7;
}
.skills ul li:nth-child(9) {
    --n: 8;
}
.skills ul li:nth-child(10) {
    --n: 9;
}
.skills ul li:nth-child(11) {
    --n: 10;
}
.skills ul li:nth-child(12) {
    --n: 11;
}
.skills ul li:nth-child(13) {
    --n: 12;
}
.skills ul li:nth-child(14) {
    --n: 13;
}
.skills ul li:nth-child(15) {
    --n: 14;
}
.skills ul li:nth-child(16) {
    --n: 15;
}
.skills ul li:nth-child(17) {
    --n: 16;
}
.skills ul li:nth-child(18) {
    --n: 17;
}
.skills ul li:nth-child(19) {
    --n: 18;
}
.skills ul li:nth-child(20) {
    --n: 19;
}

.level {
    position: relative;

    margin-left: .5em;

    white-space: nowrap;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.level i.empty, .level i.filled {
    display: inline-block;

    width: 1em;
    height: 1em;
    margin-right: .5em;

    transition: .25s ease;
    animation: .35s linear 0s 1 normal both running fadeIn;

    border-radius: 50%;
    background-color: var(--level);
}

li:hover .level i.empty {
    background-color: var(--level-hover);
}

.level i.filled {
    background-color: var(--level-filled);
}

.level i:nth-of-type(1) {
    animation-delay: calc(var(--n) * .25s);
}

.level i:nth-of-type(2) {
    animation-delay: calc(var(--n) * .25s + .1s);
}

.level i:nth-of-type(3) {
    animation-delay: calc(var(--n) * .25s + .2s);
}

.level i:nth-of-type(4) {
    animation-delay: calc(var(--n) * .25s + .3s);
}

.level i:nth-of-type(5) {
    animation-delay: calc(var(--n) * .25s + .4s);
}

.level i:nth-last-child(2) {
    margin-right: 0;
}

.skill-expand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    transition: .25s ease;

    opacity: 0;
}

.skill:hover .skill-expand {
    opacity: 1;
}

.skill details[open] .skill-expand {
    transform: rotate(180deg);
}

.skill:hover .level i:nth-last-child(2) {
    background: transparent !important;
}

.skill details .content {
    padding: .5em;
}

.skill details .content p {
    font-size: .8em;
    line-height: 1.5em;
}

/* ====== Projects summaries ====== */
ul.projects {
    display: flex;
    flex-direction: row;

    width: 70em;
    max-width: 100%;

    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
}

ul.projects > li {
    display: flex;
}

.project-entry {
    display: flex;
    flex-direction: column;

    width: 22em;

    cursor: pointer;
    text-align: center;

    background-color: var(--project-back);
    box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, .50);
}

.project-entry:hover {
    transition: .3s;

    background-color: var(--project-back-hover);
    box-shadow: 0 .4em .8em 0 rgba(0, 0, 0, .7);
}

.project-content {
    padding: 1em;

    color: #FFFFFF;
    background-color: #3F51B5;

    flex-grow: 1;
}

.project-content h2 {
    margin-bottom: .3em;
}

.project-content h3 {
    font-size: 100%;

    max-width: none;
    margin-bottom: 1em;
}

.project-content h3 i {
    margin-right: .5em;
}

.project-img img, .project-img video {
    max-width: 100%;
    width: 20em;
    height: 15em;
    padding: 1em 0;

    object-fit: contain;
}

.project-tags {
    background-color: #3949AB;
}

.project-tags ul {
    display: flex;

    margin: .5em;

    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-tags li {
    font-size: 90%;

    margin: .2em;
    padding: .5em 1em;

    color: #FFFFFF;
    border-radius: 1.5em / 100%;
    background-color: #5C6BC0;
}

/* ====== Project pages ====== */
.image-container {
    display: flex;

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img, .image-container video {
    width: 35rem;
    max-width: 95%;
    margin: .5rem;

    box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, .25);

    object-fit: contain;
}

/* ====== Image gallery ====== */
.gallery {
    display: flex;
    flex-direction: column;

    width: 70em;
    max-width: 100%;
    margin-bottom: 1em;
    padding: .5em;

    background-color: var(--gallery-back);
}

#gallery-image {
    display: grid;

    width: 100%;
    height: 40em;

    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

#gallery-current {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
    grid-row: 1/-1;
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
}

.gallery-button {
    z-index: 1000;

    display: flex;

    width: 3rem;
    height: 3rem;

    cursor: pointer;
    transition: .25s;

    color: #FFFFFF;
    border-radius: 50%;
    background-color: #3949AB;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .50);

    grid-row: 2;
    align-items: center;
    justify-content: center;
}

.gallery-button:hover {
    background-color: #3F51B5;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .75);
}

.gallery-button-disabled {
    cursor: default;

    color: #9E9E9E;
    background-color: #757575;
}

.gallery-button-disabled:hover {
    background-color: #757575;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .50);
}

#prev-button {
    margin-left: 1em;

    justify-self: start;
    align-self: center;
    grid-column: 1;
}

#next-button {
    margin-right: 1em;

    justify-self: end;
    align-self: center;
    grid-column: 3;
}

#gallery-caption {
    margin-bottom: .5em;

    align-self: center;
}

#gallery-images-container {
    margin: 0 -.5em -.5em -.5em;
    padding: .5em;

    background-color: #5C6BC0;
}

#gallery-images {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    justify-content: start;
}

#gallery-images img {
    height: 8em;
    padding: 0 .25em;

    cursor: pointer;

    object-fit: contain;
    filter: brightness(.65);
}

img#selected-image {
    filter: unset !important;
}

#gallery-images img:first-child {
    padding-left: 0;
}

#gallery-images img:last-child {
    padding-right: 0;
}

@media only screen and (max-device-width: 1000px) {
    body {
        font-size: 150%;

        display: initial;
        overflow: scroll;
    }

    h1 {
        font-size: 275%;
    }

    h2 {
        font-size: 175%;
    }

    h3 {
        font-size: 150%;
    }

    p {
        font-size: 90%;
    }

    header {
        font-size: 125%;

        position: static;

        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0 1em;

        text-align: center;

        align-items: center;
    }

    header .spacer {
        flex-basis: 0;
    }

    header hr {
        width: 75%;
        margin: 1em auto;
    }

    header h1 {
        font-size: 175%;
        font-weight: 400;

        margin-bottom: .5em;
    }

    header h2 {
        font-size: 90%;
        font-weight: 400;
    }

    nav {
        width: 100%;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        font-size: 100%;
        font-weight: 400;
    }

    nav ul li.current {
        font-weight: 600;
    }

    header .bottom {
        font-size: 75%;

        justify-content: center;
    }

    main {
        box-sizing: border-box;
        max-width: 100vw;
        margin-top: 1em;
        padding: .5em;
    }

    main section {
        width: 100%;
    }

    main hr {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }

    .skills {
        width: 95%;
    }

    .skills h3 {
        font-size: 110%;
    }

    .skills .lists {
        flex-direction: column;
    }

    .lists section {
        width: auto;
        margin-right: 0;
        margin-left: 0;
        padding-top: 1rem;

        border-top: 2px solid var(--skill-list-mob-sep);
    }

    .lists ul:first-of-type {
        padding-top: 0;

        border-top: none;
    }

    .lists ul li {
        font-size: 80%;
    }

    .level {
        margin-left: 1em;
    }

    ul.projects {
        flex-direction: column;

        width: 100%;

        align-items: center;
    }

    .project-entry {
        font-size: 70%;
        width: 100%;
        max-width: 22em;
    }

    .project-entry h3 {
        font-size: 100%;
    }

    footer {
        font-size: 65%;
    }

    .footer-left {
        padding-left: 1em;
    }

    .footer-right {
        padding-right: 1em;
    }

    .error {
        width: 10em;
        height: 10em;
    }

    .project-popup-content {
        max-width: 95%;
    }

    .gallery {
        width: 95%;
    }

    #prev-button {
        margin-left: .25em;
    }

    #next-button {
        margin-right: .25em;
    }

    #gallery-image {
        height: 20em;
    }

    #gallery-images img {
        height: 4em;
    }
}
