<li>
  <div class="skill-display">
    {{ .skill.name }}
    <div class="level">
      {{ range seq .skill.level }}<i class="filled"></i>{{ end }}{{ range seq (sub 5 .skill.level) }}<i></i>{{ end }}
    </div>
  </div>
  <div class="skill-description">
    {{ .skill.description }}
    I used {{ .skill.name }} in
    {{ range where .context.Site.RegularPages "Section" "projects" }}
      {{ if in .Params.skills $.skill.name }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </div>
</li>