<div class="skills">
  <h3>Skills &amp; Experience</h3>
  <div class="lists">
    <ul>
      {{ range sort (sort .Site.Data.skills.languages.skills ".name") ".level" "desc" }}
        {{ partial "skills-entry.html" (dict "skill" . "context" $) }}
      {{ end }}
    </ul>
    <ul>
      {{ range sort (sort .Site.Data.skills.frameworks.skills ".name") ".level" "desc" }}
        {{ partial "skills-entry.html" (dict "skill" . "context" $) }}
      {{ end }}
    </ul>
    <ul>
      {{ range sort (sort .Site.Data.skills.other.skills ".name") ".level" "desc" }}
        {{ partial "skills-entry.html" (dict "skill" . "context" $) }}
      {{ end }}
    </ul>
  </div>
</div>