<div class="skills">
  <div class="lists">
    <section>
      <h3>Languages</h3>
      <ul>
        {{ partial "skill-category.html" (dict "skills" .Site.Data.skills.languages.skills "context" $ )}}
      </ul>
    </section>
    <section>
      <h3>Technologies</h3>
      <ul>
        {{ partial "skill-category.html" (dict "skills" .Site.Data.skills.technologies.skills "context" $ )}}
      </ul>
    </section>
    <section>
      <h3>Other</h3>
      <ul>
        {{ partial "skill-category.html" (dict "skills" .Site.Data.skills.other.skills "context" $ )}}
      </ul>
    </section>
  </div>
</div>